node_modules
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
dist
.dist
*.md
volumes/
certificates/
logs/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*